body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
link {
  display: block;
}
h1 {
  font-size: 48px;
}
.bayan {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 320px;
  margin: 50px auto;
}
.bayan-item {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #ffffff;
}
.bayan-item .bayan-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 32px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
  color: #004DFF;
}
.bayan-item .bayan-item-title :hover {
  color: #333;
}
.bayan-item .bayan-item-desc {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  box-sizing: border-box;
  cursor: pointer;

}
.bayan-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}

.item-image1 {
  background-image: url(./assets/image/1.jpg);
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: center;
}
.item-image2 {
  background-image: url(./assets/image/2.jpg);
  background-repeat: no-repeat;
  background-size: 50vh;
  background-position: center;
}
.item-image3 {
  background-image: url(./assets/image/3.jpg);
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: center;

}
.item-image4 {
  background-image: url(./assets/image/4.jpg);
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: center;
}
.item-image5 {
  background-image: url(./assets/image/5.jpg);
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: center;
}
.bayan-item input[type="checkbox"]:checked ~ .bayan-item-desc {
  display: block;
  height: 70vh;
}
@media (hover:hover) {
  .bayan-item input[type="checkbox"]:hover ~ .bayan-item-desc {
  display: block;
  height: 70vh;
}
}
 @media (hover:hover) {
  .bayan-item-desc:hover {
  display: block;
  height: 70vh;
}
  }
.bayan-item input[type="checkbox"] ~ .bayan-item-title .icon {
  visibility: hidden;
}
.bayan:hover > .bayan-item .bayan-item-title {
  color: #333;
}
.bayan:hover > .bayan-item input[type="checkbox"] ~ .bayan-item-title .icon {
  visibility: visible;
}
.bayan-item input[type="checkbox"]:hover ~ .bayan-item-title .icon:after {
  content: "-";
}
.bayan-item input[type="checkbox"]:checked ~ .bayan-item-title .icon:after {
  content: "-";
}
.bayan-item input[type="checkbox"]:checked ~ .bayan-item-title{
  color: #333;
}
.bayan-item input[type="checkbox"] ~ .bayan-item-title .icon:after {
  content: "+";
}
.bayan-item-desc:hover ~ .bayan-item-title .icon {
  content: "-";
}
.bayan-item input[type="checkbox"]:active ~ .bayan-item-title{
  color:#004DFF;
}
.bayan-item:first-child {
  margin-top: 0;
}
.bayan-item .icon {
  margin-left: 14px;
}

@media (max-width: 1180px) {
  h1 {
    font-size: 36px;
  }
  .bayan-item .bayan-item-title {
    font-size: 26px;
}
}
@media (max-width:499px)  {
  h1 {
    font-size: 32px;
  }
  .bayan-item .bayan-item-title {
    font-size: 22px;
}
.bayan-item-desc {
  background-size: 50vh;
}
.bayan-item input[type="checkbox"]:checked ~ .bayan-item-desc {
  height: 58vh;
}

}
@media (max-width: 320px) {
  h1 {
    font-size: 32px;
  }
  .bayan-item .bayan-item-title {
    font-size: 18px;
}
.bayan-item-desc {
  background-size: 35vh;
}
.bayan-item input[type="checkbox"]:checked ~ .bayan-item-desc {
  height: 41vh;
}

}
